<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

    {% include 'header.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% include 'newsletter.html' %}
    {% include 'footer.html' %}
    {% if user.is_superuser %}
        {% include 'admin_bar.html' %}
    {% endif %}
    {% include 'scripts.html' %}

</body>

</html>