{% load static %}
<footer class="footer text-center">
    <div class="container">
        <div class="d-block">
            <p class="mwlf">
                Made with <span style="color: #d6204e;">&#10084;</span> for
            </p>
        </div>
        <div class="footer-right-pic">
            <a class="noBtm" href="https://www.djangoproject.com/" target="_blank">
                <img src="{% static 'img/django-logo.png' %}" class="ml-6" width="50" alt="">
            </a>
        </div>
        <div class="footer-right-pic">
            <a class="noBtm" href="https://reactjs.org/">
                <img src="{% static 'img/react-js-logo.png' %}" class="mr-6" width="50" alt="">
            </a>
        </div>
        <p class="float-left copyright">
            <small>&copy; Copyright 2018, Jannick.La</small>
        </p>
    </div>
</footer>